@import './../philly-landlord-spotter/src/styles/colors';

.zipCodePageContainer {
    background-attachment: scroll;
    background-position: right top;
    width: 100%;
    height: auto;
    padding-top: 6vw;
    padding-bottom: 3vw;
}

.zipCodePageJumbotron {
    text-align: left;
    background-color: $background_blur !important;
    box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
    color: $white;
}

@media (max-width: 1024px) {
    .zipCodePageContainer {
        padding-top: 8vw;
    }
}

@media (max-width: 896px) {
    .zipCodeBarChartDropdown {
        padding-bottom: 2vw;
    }
}

@media (max-width: 591px) {
    .zipCodePageContainer {
        padding-top: 11vw;
    }
}

@media (max-width: 450px) {
    .zipCodePageContainer {
        padding-top: 15vw;
    }
}

@media (max-width: 411px) {
    .zipCodePageContainer {
        padding-top: 17vw;
    }
}
