
.MapboxPropertyMapWrapper {
  height: 50vh !important;
  margin-bottom: 7vw;
}

@media (max-width: 2560px) {
  .MapboxPropertyMapWrapper {
    margin-bottom: 3vw;
  }
}

@media (max-width: 1920px) {
  .MapboxPropertyMapWrapper {
    margin-bottom: 5vw;
  }
}

@media (max-width: 1440px) {
  .MapboxPropertyMapWrapper {
    margin-bottom: 7vw;
  }
}

@media (max-width: 1024px) {
  .MapboxPropertyMapWrapper {
    margin-bottom: 9vw;
  }
}

.MapModal {
  box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
  .close {
    color: #F3A712 !important;
  }
  .modal-body, .modal-header {
    background-color: #1A1A1A;
    color:  #fff;
    border-bottom-color: #F3A712;
  }
  .MapModalLoading {
    text-align: center;
    padding: 10vw;
    width: 100%;
    height: 50vh;
  }
}