.SearchFormContainer {
  padding: 2vw;
  .SearchFormFormRow {
    width: 100% !important;
    .SearchFormForm {
      width: 100% !important;
    }
  }
  .SearchFormButton {
    background-color: #343a40 !important;
    color: #fff !important;
  }
  .resultsSection {
    margin-top: 1vw;
    .OwnerSearchFormListGroup {
      background-color: #343a40 !important;
      color: #fff !important;
    }
  }
}

@media (max-width: 375px) {
  .OwnerSearchFormListGroup {
    button {
      font-size: 10pt;
      margin-top: 2vw;
    }
  }
}
