.zipCodeBarChartDropdown {
    margin-top: 2vw;
}

.individualZipCodeAnalysis {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 2vw;
}

.dropdown-menu {
    height:200px;
    overflow-y:auto;
}

.chartSectionHeader {
    text-align: center;
    padding-top: 2vw;
    margin-bottom: 0 !important;
}
