.zipCodeBarChartDropdown {
    margin-top: 2vw;
}

.individualZipCodeAnalysis {
    margin-bottom: 2vw;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
    padding: 1.5vw 1.5vw .5vw;
    color: #fff;
}

.dropdown-menu {
    height:200px;
    overflow-y:auto;
}

.chartSectionHeader {
    text-align: center;
    padding-top: 2vw;
    margin-bottom: 0 !important;
}
