.housePopover {
    width: 50vw;
    color: #1A1A1A;
}

@media (max-width: 425px) {
    .housePopover {
        width: 65vw;
    }
}

@media (max-width: 375px) {
    .housePopover {
        width: 65vw;
    }
}

@media (max-width: 330px) {
    .housePopover {
        width: 65vw;
    }
}
