@use './src/styles/_colors';

.DataPageContainer {
    margin-top: 6vw !important;
    text-align: left;
    margin-bottom: 3vw;
}

.dataDescCardHeader {
    background-color: colors.$background_grey !important;
    color: colors.$white !important;
}

.dataDescCardBold {
    font-weight: bold;
}

.dataDescCardItalic {
    font-style: italic;
}
