@import './../philly-landlord-spotter/src/styles/colors';

.DataPageWrapper {
    padding-top: 6vw !important;
    text-align: left;
    padding-bottom: 3vw;
    background-attachment: fixed;
    background-position: right top;
    width: 100%;
    height: auto;
    .DataPageContainer {
        .DataPageSection {
            background-color: $background_blur;
            box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
            padding: 1.5vw 1.5vw .5vw;
            margin-bottom: 2rem;
        }
        .DataPageJumbotron {
            background-color: $background_blur;
            box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
            color: $white;
        }
        .whiteText {
            color: $white;
        }
    }
}

.dataDescCardHeader {
    background-color: $building_grey !important;
    color: $white !important;
    border: 1px solid $white;
}

.dataDescCardBold {
    font-weight: bold;
}

.dataDescCardItalic {
    font-style: italic;
}

@media (max-width: 1024px) {
    .DataPageWrapper {
        padding-top: 8vw !important;
    }
}

@media (max-width: 768px) {
    .DataPageWrapper {
        padding-top: 10vw !important;
    }
}

@media (max-width: 591px) {
    .DataPageWrapper {
        padding-top: 12vw !important;
    }
}

@media (max-width: 450px) {
    .DataPageWrapper {
        padding-top: 15vw !important;
    }
}

@media (max-width: 414px) {
    .DataPageWrapper {
        padding-top: 16vw !important;
    }
}

@media (max-width: 375px) {
    .DataPageWrapper {
        padding-top: 18vw !important;
    }
}
