.App {
  .bg-dark {
    background-color: #1A1A1A !important;
  }
  .navText {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}

@media (max-width: 330px) {
  .navText {
    font-size: 12pt !important;
  }
}
