@import './../philly-landlord-spotter/src/styles/colors';

.App {
  .bg-dark {
    background-color: $building_grey !important;
  }
  .navText {
    font-family: ff-basic-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
  }
}

@media (max-width: 320px) {
  .navText {
    font-size: 12pt !important;
  }
}
