.list-group-item.active {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.list-group {
    overflow-y: scroll;
    height: 80vh;
}

@media (max-width: 768px) {
    .landlordSelector {
        margin-top: 13vw;
    }
    /*Fix for Iphones*/
    .list-group {
        overflow-y: scroll;
        height: 100%;
        margin-bottom: 7vw !important;
    }
}

@media (max-width: 576px) {
    .landlordSelector {
        margin-top: 20vw;
    }
}

@media (max-width: 435px) {
    .landlordSelector {
        margin-top: 30vw;
    }
}

@media (max-width: 390px) {
    .landlordSelector {
        margin-top: 33vw;
    }
}

@media (max-width: 330px) {
    .landlordSelector {
        margin-top: 40vw;
    }
}

