@use './src/styles/_colors';

.list-group-item.active {
    background-color: colors.$background_grey !important;
    border-color: colors.$background_grey !important;
}

.list-group {
    overflow-y: scroll;
    height: 80vh;
}

.badge {
    border: 1px solid colors.$background_grey;
    margin: 0 2px;
}

.b1950 {
    background-color: colors.$pill_blue;
    color: colors.$white;
}

.b2000 {
    background-color: colors.$pill_magenta;
    color: colors.$white;
}

.b2010 {
    background-color: colors.$pill_green;
    color: colors.$white;
}

.b2015 {
    background-color: colors.$pill_yellow;
    color: colors.$white;
}

.b2020 {
    background-color: colors.$pill_red;
    color: colors.$white;
}

.bUnknown {
    color: colors.$black;
    background-color: colors.$white;
}

.badgeContainer {
    margin-top: 6vw;
    margin-bottom: 2vw;
}

@media (max-width: 768px) {
    .noMapCol {
        margin-top: 13vw;
    }
    /*Fix for Iphones*/
    .list-group {
        overflow-y: scroll;
        height: 100%;
        margin-bottom: 7vw !important;
    }
}

@media (max-width: 576px) {
    .noMapCol {
        margin-top: 20vw;
    }
}

@media (max-width: 435px) {
    .noMapCol {
        margin-top: 30vw;
    }
}

@media (max-width: 390px) {
    .noMapCol {
        margin-top: 33vw;
    }
}

@media (max-width: 330px) {
    .noMapCol {
        margin-top: 40vw;
    }
}

