.list-group-item.active {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.list-group {
    overflow-y: scroll;
    height: 80vh;
}

.badge {
    border: 1px solid #343a40;
    margin: 0 2px;
}

.b1950 {
    background-color: #1c6e8c;
    color: white;
}

.b2000 {
    background-color: #da4167;
    color: white;
}

.b2010 {
    background-color: #09BC8A;
    color: white;
}

.b2015 {
    background-color: #F3A712;
    color: white;
}

.b2020 {
    background-color: #F23602;
    color: white;
}

.bUnknown {
    color: #000000;
    background-color: #ffffff;
}

.badgeContainer {
    margin-top: 6vw;
    margin-bottom: 2vw;
}

@media (max-width: 768px) {
    .noMapCol {
        margin-top: 13vw;
    }
    /*Fix for Iphones*/
    .list-group {
        overflow-y: scroll;
        height: 100%;
        margin-bottom: 7vw !important;
    }
}

@media (max-width: 576px) {
    .noMapCol {
        margin-top: 20vw;
    }
}

@media (max-width: 435px) {
    .noMapCol {
        margin-top: 30vw;
    }
}

@media (max-width: 390px) {
    .noMapCol {
        margin-top: 33vw;
    }
}

@media (max-width: 330px) {
    .noMapCol {
        margin-top: 40vw;
    }
}

