.ownerLoading {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
    padding: 10vw;
    color:  #fff;
    width: 100%;
    height: 80vh;
}

.ownerPickerWrapper {
    background-attachment: fixed;
    background-position: right top;
    width: 100%;
    height: 100vh;
    padding-top: 5vw;
    .ownerPickerContainer {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.85);
        box-shadow: 0 .35vw .35vw 0 rgba(0, 0, 0, 0.6);
        padding: 1.5vw 1.5vw .5vw;
        color: #fff;
    }
}

.list-group-item {
    background-color: #343a40 !important;
    color: #fff !important;
}

.list-group-item.active {
    background-color: #1A1A1A !important;
    border-color: #1A1A1A !important;
}

.list-group-item:hover {
    background-color: #1A1A1A !important;
    border-color: #1A1A1A !important;
}

.list-group {
    overflow-y: scroll;
    height: 75vh;
}

.badge {
    border: 1px solid #1A1A1A;
    margin: 0 2px;
}

.b1950 {
    background-color: #1c6e8c;
    color: #fff;
}

.b2000 {
    background-color: #da4167;
    color: #fff;
}

.b2010 {
    background-color: #09BC8A;
    color: #fff;
}

.b2015 {
    background-color: #FFC700;
    color: #fff;
}

.b2020 {
    background-color: #F23602;
    color: #fff;
}

.bUnknown {
    color: #000;
    background-color: #fff;
}

.badgeContainer {
    margin-top: 6vw;
    margin-bottom: 2vw;
}

@media (max-width: 1366px) {
    .ownerPickerWrapper {
        padding-top: 6vw;
    }
}

@media (max-width: 1024px) {
    .ownerPickerWrapper {
        padding-top: 8vw;
    }
    .badgeContainer {
        margin-top: 8vw;
    }
}

@media (max-width: 896px) {
    .ownerPickerWrapper {
        padding-top: 8vw;
        height: 180vh;
    }
    .badgeContainer {
        margin-top: 10vw;
    }
    .noMapCol {
        padding-bottom: 1vw;
        padding-top: 1vw;
    }
}

@media (max-width: 768px) {
    .ownerPickerWrapper {
        height: 258vh;
        padding-top: 9vw;
    }
    /*Fix for Iphones*/
    .list-group {
        overflow-y: scroll;
        height: 100%;
        margin-bottom: 6vw !important;
    }
}

@media (max-width: 591px) {
    .ownerPickerWrapper {
        padding-top: 13vw;
    }
    .badgeContainer {
        margin-top: 15vw;
    }
}

@media (max-width: 576px) {
    .noMapCol {
        margin-top: 3vw;
    }
}

@media (max-width: 450px) {
    .noMapCol {
        margin-top: 3vw;
    }
}

@media (max-width: 435px) {
    .noMapCol {
        margin-top: 30vw;
    }
}

@media (max-width: 390px) {
    .noMapCol {
        margin-top: 20vw;
    }
}

@media (max-width: 330px) {
    .ownerPickerWrapper {
        padding-top: 35vw;
    }
}

